<!-- https://mdbootstrap.com/docs/standard/data/tables/ -->
<div class="d-flex align-items-baseline mt-5 flex-grow-1">
  <table class="table align-middle mb-0 bg-white" style="min-width: 100%">
    <thead class="bg-light text-center">
      <tr>
        <th>Info</th>
        <th>Price</th>
        <th>Status</th>
        <th>Category</th>
        <th>In Stock</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <div class="d-flex align-items-center">
            <img
                 src="https://placehold.co/100"
                 alt=""
                 style="width: 100px; height: 100px" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{product.name}}</p>
              <p class="text-muted mb-0">{{product.description}}</p>
            </div>
          </div>
        </td>
        <td class="text-center">
          <p class="text-muted mb-0">${{product.price}}</p>
        </td>
        <td class="text-center">
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td class="text-center">{{product.category.name}}</td>
        <td class="text-center">{{product.stock}}</td>
        <td class="text-center">
          <button type="button" class="btn btn-link btn-sm btn-rounded" data-mdb-toggle="modal"
                  data-mdb-target="#exampleModal"
                  (click)="openModal(product)">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <button class="btn btn-primary" (click)="openModal()">Open modal</button> -->