<div class="card card m-3" style="max-width: 400px;">
  <img src="https://placehold.co/400x200" class="card-img-top" alt="Fissure in Sandstone" />
  <div class="card-body">
    <div class="row">
      <div class="col-sm w-100">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text m-0">{{product.description}}</p>
        <p class="card-text">{{product.category.name}}</p>
      </div>
      <div class="col-sm text-end h-100 align-items-baseline">
        <h3 class="card-text">{{product.price}} €</h3>
      </div>
    </div>
    <div class="row text-end mt-2">
      <button class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
    </div>
  </div>
</div>